{% extends 'Dashboard.html' %}
{% block content %}
{% load static %}
		<div class="row bg-dark pt-2 text-white">
			<div class="col-md-12 text-right">
				<p class="pr-4"><a class="home" href="Home.html">Homepage</a> &nbsp;> &nbsp;
				<b>About Us</b></p>
			</div>		
		</div>
		<div class="row">
			<div class="col-md-12 bg px-0">
				<div class="text-white"  style="background-color:rgba(29,172,203,0.85); padding: 80px 30px; font-family: Montserrat">
					<h1><b> How We Work</b> </h1>
					
				</div>
			</div>
			<div></div>
		</div>
	</div>
	<div class="container-fluid pt-5">
		
			<div class="row">
				<div class="col-md-6">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/NT_fVQ1LdQY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
				<div class="col-md-6">
					<span style="float: left; font-size: 14px; font-style: italic; font-family: 'playfair Display',serif;">Services</span>
					<strong style="font-family:Montserrat;font-style: normal;">What WE Do ?</strong>
				</div>
			</div>	
	</div>
	{% endblock %}
