{% extends 'Base.html' %}
{% block content %}
{% load static %}

        <div class="content-inner ">
          <!-- Page Header-->
          
            <div class="container-fluid pt-5">
              <div class="row" style="padding-top: 100px;">
                <div class="col-md-2"></div><br>
                <div class="col-md-8 bg-white p-5 border"style="border-radius: 50px; " >
                  <form>
                    
                    <div class="row  ">
                      <div class="col-md-5 p-3 text-center">
                        <i class="icofont-user-suited icofont-5x"></i>
                        <br><br>
                        <h1 class=" text-center" style="text-shadow: 10px 20px 5px #ccc; font-size: 30px;color:#1daccb; ">My Profile</h1>
                      </div>
                      <div class="col-md-7 pt-5">
                        <p>
                          <span style="font-weight:bold; font-size:20px;">Full Name:</span> {{user.Name}}
                          <br>
                          <span style="font-weight:bold; font-size:20px;">Email:</span> {{ user.Email}}
                          <br/>
                          
                          
                        </p>
                      </div>
                      
                    </div>
                    <div class="col-md-2"></div>
                  </form>
                </div>
              </div>
            </div>

        </div>
      
    
          
   <!-- JavaScript files-->
    <script src="../js/jquery-3.4.1.min.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="sidebar/front.js"></script>

    {% endblock %}