{% extends 'Base.html' %}
{% block content %}
{% load static %}

        <div class="content-inner ">
          <!-- Page Header-->
          <header class="page-header">
            <div class="container-fluid pt-5">
              <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 bg-white p-5 border"style="border-radius: 50px;  " >
                  <form>
                    
                    <div class="row">
                      <div class="col-md-5 p-3 text-center">
                        <i class="{%static 'css/icofont-user-suited icofont-5x' %} "></i>
                        <br><br>
                        <h1 class=" text-center" style="text-shadow: 10px 20px 5px #ccc; font-size: 30px;color:#1daccb; ">My Profile</h1>
                      </div>
                      <div class="col-md-7">
                        <p><span style="font-weight:bold; font-size:20px;">Email:</span> rshubhimar@outlook.com
                          <br/>
                          <span style="font-weight:bold; font-size:20px;">First Name:</span> Shubhima
                          <br>
                          <span style="font-weight:bold; font-size:20px;">Last Name:</span> Rana
                          <br/>
                          <span style="font-weight:bold; font-size:20px;">City:</span> Amritsar
                          <br/>
                          <span style="font-weight:bold; font-size:20px;">State:</span> Punjab
                          <br/>
                          <span style="font-weight:bold; font-size:20px;">DOB:</span> 29-7-1997
                          <br/>
                          <span style="font-weight:bold; font-size:20px;">Pin Code:</span> 143001
                          <br/>
                          <span style="font-weight:bold; font-size:20px;">Phone Number:</span> 98765-43210
                        </p>
                      </div>
                      
                    </div>
                    <div class="col-md-2"></div>
                  </form>
                </div>
              </div>
            </div>
          </header>

        </div>
      
    
          
   <!-- JavaScript files-->
    <script src="../js/jquery-3.4.1.min.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="sidebar/front.js"></script>

    {% endblock %}