{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Project ADMIN - PANEL </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <!-- CSS files -->
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{%static 'css/icofont.css' %}">
    <link rel="stylesheet" type="text/css" href="{%static 'icofont/icofont.min.css' %}">
    <link rel="stylesheet" href="{%static 'sidebar/style.blue.css' %}">
    <link rel="shortcut icon" href="{%static 'favicon.png' %}">
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Eczar:wght@400;500;600;700;800&display=swap" rel="stylesheet">

    <style type="text/css">
      .homee:hover{
        color: #1daccb;
      }
      .home:hover{
        color: #1daccb;
      }
      .home{color: white;}
      .bg{
          background-size: cover;
      background-repeat: no-repeat;
      background-image: url('{% static "Pics/visual.png"%}');}
      .hv{background-color: black; color: white;}
      .hv:hover{background-color: #1daccb; }
    </style>
  

  </head>
  <body>
    <div class="page">
      <!-- Main Navbar-->
     
        <nav class="navbar" style="background-color:#1daccb; height: 80px;">
          
          <div class="container-fluid">
            <div class="navbar-holder d-flex align-items-center justify-content-between">
              <!-- Navbar Header-->
              <div class="navbar-header">
                <!-- Navbar Brand --><a href="#" class="navbar-brand d-none d-sm-inline-block">
                  <div class="brand-text d-none d-lg-inline-block " ><span><img src="{%static 'pics/charity-logo-removebg-preview.png' %}"> </span><strong style="font-size: 18px; font-family: 'Eczar', serif;">Disaster</strong><span style="color: black; font-family: 'Eczar', serif;">Help</span></div>
                  <div class="brand-text d-none d-sm-inline-block d-lg-none"><strong>BD</strong></div></a>
                <!-- Toggle Button--><a id="toggle-btn" href="#" class="menu-btn active"><span></span><span></span><span></span></a>
              </div>
              <!-- Navbar Menu -->
              <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
                <!-- Languages dropdown    -->
                <li class="nav-item dropdown"><a id="languages" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link language dropdown-toggle">
                  <span class="d-none d-sm-inline-block"style="font-family: 'Eczar', serif; color:black; "><i class="icofont icofont-database-add"></i> My Account</span></a>
                  <ul aria-labelledby="languages" class="dropdown-menu" >
                    <li><a rel="nofollow" href="{% url 'adminPannel'%}" class="dropdown-item"> My profile </a></li>
                    <li><a rel="nofollow" href="{% url 'editProfile'%}" class="dropdown-item"> Edit profile  </a></li>
                    <li><a rel="nofollow" href="{% url 'changePass'%}" class="dropdown-item"> Change Password </a></li>
                  </ul>
                </li>
                <!-- Logout    -->
                <li class="nav-item"><a href="{% url 'LogIn'%}" class="nav-link logout"> 
                  <span class="d-none d-sm-inline"style="font-family: 'Eczar', serif; color:black;"><i class="icofont-logout"></i>Logout</span></a></li>
              </ul>
            </div>
          </div>
        </nav>
     
      <div class="page-content d-flex align-items-stretch"> 
        <!-- Side Navbar -->
        <nav class="side-navbar"style="background-color:black; ">
          <!-- Sidebar Header-->
          <div class="sidebar-header d-flex align-items-center">
            <div class="avatar"><img src="{%static 'pics/admin.png' %}" alt="..." class="img-fluid rounded-circle" width="50px"></div>
            <div class="title">
              <h1 class="h4" style="color: whitesmoke;">Shubhima</h1>
              <p>Admin</p>
            </div>
          </div>
          <!-- Sidebar Navidation Menus--><span class="heading">Main</span>
            <ul class="list-unstyled" style="color: #1daccb; font-family: 'Eczar', serif;">
              <li class="active"><a href="#exampledropdownDropdown1" aria-expanded="false" data-toggle="collapse" > 
                <i class="icofont icofont-database-add"></i>My Account </a>
                <ul id="exampledropdownDropdown1" class="collapse list-unstyled ">
                  <li><a href="{% url 'adminPannel'%}">My Profile</a></li>
                  <li><a href="{% url 'editProfile'%}">Edit Profile</a></li>
                  <li><a href="{% url 'changePass'%}">Change Password</a></li>
                </ul>
              </li>
              
                
                  <li><a href="#exampledropdownDropdown2" aria-expanded="false" data-toggle="collapse" > 
                      All Natural Disasters </a>
                      <ul id="exampledropdownDropdown2" class="collapse list-unstyled ">
                        <li><a href="{% url 'NatDisV'%}">Static</a></li>
                        <li><a href="{% url 'DynamicVisual'%}">Dynamic</a></li>
                      </ul>
                  </li>
                  <li><a href="#exampledropdownDropdown3" aria-expanded="false" data-toggle="collapse" > 
                    Deaths from Natural Disasters </a>
                    <ul id="exampledropdownDropdown3" class="collapse list-unstyled ">
                      <li><a href="{% url 'DeathNatDis'%}">Static</a></li>
                      <li><a href="{% url 'DathDynamic'%}">Dynamic</a></li>
                    </ul>
                  </li>
                  <li><a href="#exampledropdownDropdown4" aria-expanded="false" data-toggle="collapse" > 
                    Direct Disaster Loss as a Share Of GDP </a>
                    <ul id="exampledropdownDropdown4" class="collapse list-unstyled ">
                      <li><a href="{% url 'DirDisGdp'%}">Static</a></li>
                      <li><a href="{% url 'DgdpDynamic'%}">Dynamic</a></li>
                    </ul>
                  </li>
                  <li><a href="#exampledropdownDropdown5" aria-expanded="false" data-toggle="collapse" > 
                    Global Disaster Loss as a Share Of GDP </a>
                    <ul id="exampledropdownDropdown5" class="collapse list-unstyled ">
                      <li><a href="{% url 'Global'%}">Static</a></li>
                      <li><a href="{% url 'Globalgdp'%}">Dynamic</a></li>
                    </ul>
                  </li>
                  <li><a href="#exampledropdownDropdown6" aria-expanded="false" data-toggle="collapse" > 
                    Global precipitation </a>
                    <ul id="exampledropdownDropdown6" class="collapse list-unstyled ">
                      <li><a href="{% url 'GlobPreci'%}">Static</a></li>
                      <li><a href="{% url 'GlobPreciDynamic'%}">Dynamic</a></li>
                    </ul>
                  </li>
                  <li><a href="#exampledropdownDropdown7" aria-expanded="false" data-toggle="collapse" > 
                    Internally displaced Person  </a>
                    <ul id="exampledropdownDropdown7" class="collapse list-unstyled ">
                      <li><a href="{% url 'place'%}">Static</a></li>
                      <li><a href="{% url 'InternalDisDynamic'%}">Dynamic</a></li>
                    </ul>
                  </li>
                  <li><a href="#exampledropdownDropdown8" aria-expanded="false" data-toggle="collapse" > 
                    Google Maps  </a>
                    <ul id="exampledropdownDropdown8" class="collapse list-unstyled ">
                      <li><a href="{% url 'Map'%}">Earthquake</a></li>
                      <li><a href="{% url 'VolcaMap'%}">Volcanoes</a></li>
                    </ul>
                  </li>
                  <li><a href="#exampledropdownDropdown9" aria-expanded="false" data-toggle="collapse" > 
                    Prediction  </a>
                    <ul id="exampledropdownDropdown9" class="collapse list-unstyled ">
                      <li><a href="{% url 'earthform'%}">Earthquake</a></li>
                      
                    </ul>
                  </li>
                
              </li>
              <li ><a href="{% url 'review'%}"> <i class=" icofont-comment"></i>Review </a></li>
              <li ><a href="{% url 'helpSupport'%}"> <i class="icofont-support-faq"></i>Help & Support </a>
              </li>
              <li ><a href="{% url 'LogIn'%}"> <i class="icofont-logout"></i>Logout </a></li>
            </ul>
        </nav>

    
      {% block content %}
      
        
      <div class="page-holder w-100 d-flex flex-wrap">
          
        <div class="container-fluid" style="background-image: url({%static 'Pics/bgBase.png' %}); height: 723px;background-repeat: no-repeat; background-size: cover;">
            
            <div class="text-center" style="padding-top: 180px; color: whitesmoke;font-family: 'Eczar', serif; ">
            <h1 style="font-size: 40px;"> Welcome to Dashboard, Folks!</h1> <br><br>
            <h4 style="color: #1daccb; "> Choose what you want to know about. </h4> 
            </div><br>

            <div class="text-center pt-5" >
              <button  type="submit" name="btn" style="background-color:black;color:#fff"class="btn rounded-pill"> <a href="{% url 'AboutUs' %}" style=" color: white;"> Know More </a></button> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
               <button type="submit" name="btn" style="background-color:black;color:#fff"class="btn rounded-pill"> <a href="{% url 'Contact' %}" style="color: white;"> Contact Us </a></button>
            

            </div>
            
        </div>
      </div>
  
      
      {% endblock %}
      <script src="{%static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{%static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{%static 'sidebar/front.js' %}"></script>
 
  </body>
</html>
