{% extends 'Dashboard.html' %}
{% block content %}
{% load static %}
		<div class="row bg-dark pt-2 text-white">
			<div class="col-md-12 text-right">
				<p class="pr-4"><a class="home" href="">Homepage</a> &nbsp;> &nbsp;
				<b>Contact Us</b></p>
			</div>		
		</div>
		<div class="row">
			<div class="col-md-12 bg px-0" >
				<div class="text-white"  style="background-color:rgba(29,172,203,0.85); padding: 80px 30px; font-family: Montserrat">
					<h1><b> Contact Us</b> </h1>
					<p> You can contact us from here for the donation. </p>
				</div>

			</div>
			<div></div>
	 </div>
	 <div class="container pt-5 pb-5">
	 	<div class="row">
	 		<div class="col-md-12 pt-2 text-center">
	 			<span style="font-family: 'Playfair Display', serif; font-size: 13px;"><i>We Are Fighting For Your Rights</i></span><br>
	 			<h2 style="font-family: Montserrat; margin-bottom: 10px"><b>Get In Touch</b></h2> 
	 			<div style='margin:auto; width:60px; border-top:solid rgba(29,172,203,1); 
	 						border-bottom:solid rgba(29,172,203,0.70);padding:3px;'>
	 			 </div>
	 			 <p style="padding: 10px; color: #666666; font-size: 20px; font-family: Raleway;">"We can do no great things,only small things with great love."</p>
	 		</div>
	 	</div>
	 </div>
	 <div class="text-center">
	 	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d27169.85794126198!2d74.84327394295215!3d31.654865304803494!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39196493fdde71ef%3A0x5a89f3cec3595534!2sRanjit%20Avenue%2C%20Amritsar%2C%20Punjab!5e0!3m2!1sen!2sin!4v1581595298212!5m2!1sen!2sin" width="98%" height="450" frameborder="1" style="border:thick solid #ccc;" allowfullscreen=""></iframe>
	 </div>
	 <div class="container">
	 	<div class="row" style="font-family: Raleway;">
	 		<div class="col-md-4">
	 			<div class="row">
	 		<div class="col-md-4">
	 	
	 			<button class="btn rounded-circle" style="border:8pt solid;
	 					 border-color: rgba(240,240,240); background: rgba(29,172,203); 
	 					 padding: 20px">
					<i class="icofont-home text-white icofont-3x"></i></button>
				</div>

	 		<div class="col-md-8 pt-3">
					<h5> Address </h5>
					<p style="font-family: 'Montserrat, sans-serif'; color: rgb(153, 153, 153); font-size: 17px; ">Sco-169, Ranjit Avenue</br>
					 Amritsar, Punjab</p>
	 		</div>
	 	</div></div>
	 		<div class="col-md-4">
	 			<div class="row">
	 				<div class="col-md-4">
	 					<button class="btn rounded-circle" style="border:8pt solid;
	 					 border-color: rgba(240,240,240); background: rgba(29,172,203); 
	 					 padding: 20px">
						<i class="icofont-phone text-white icofont-3x"></i></button></div>
						<div class="col-md-8 pt-3">
							<h5> Phone No </h5>
							<p style="font-family: 'Montserrat, sans-serif'; color: rgb(153, 153, 153); font-size: 17px;">(+91) 98765 43210</br>
					 		(+91) 90876 54289</p>
					 	</div>
	 				</div>
	 			</div>
	 		
	 		

	 		<div class="col-md-4">
	 			<div class="row">
	 				<div class="col-md-4">
	 					<button class="btn rounded-circle" style="border:8pt solid;
	 					 border-color: rgba(240,240,240); background: rgba(29,172,203); 
	 					 padding: 20px">
						<i class="icofont-mail text-white icofont-3x"></i></button></div>
						<div class="col-md-8 pt-3">
							<h5>Email Address </h5>
							<p style="font-family: 'Montserrat, sans-serif'; color: rgb(153, 153, 153); font-size: 17px;">relief.disasterhelp@gmail.com</br>
					 		info@disaster.com</p>
					 	</div>
					</div>
				</div>
			</div>
	 <div class="container">
	 	<hr><br><br>
	 		<form action="" method="POST">
				{% csrf_token %}

	 	<div class="row">
	 		<div class="col-md-4">
	 			<input type="text" required="required" name="nm" class="form-control" placeholder="YourName" pattern="[A-Z a-z]{2,40}"></div>

	 		<div class="col-md-4">
				<input type="email" required="required" name="e" class="form-control" placeholder="YourEmailId"></div>

	 		<div class="col-md-4">
				<input type="tel" name="ph" class="form-control" placeholder="YourPhoneNo" pattern="[0-9]{10}"></div> 

	 		<div class="col-md-12 mt-3">
				<textarea class="form-control p-2" name="msg" maxlength="400" placeholder="Type Your Message Here" rows="8"></textarea><br>
				<button type="submit" class="btn rounded-0" style="background-color: #1daccb; color: white">Send Us Now
				</button></div>
	 		</div></form><br>
	 	</div>
	</div>
</div>
	<div class="text-white container-fluid pt-5 pb-5"  style="background-color:rgba(29,172,203,0.85); ">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
	 				<h3 style="font-family:Montserrat">Subscribe NewsLetter</h3>
	 				<p>Get Latest News & Updates </p>
	 			</div>
				<div class="col-md-6">
					<form action="{% url 'Subscribe'%}" method="POST">
						{% csrf_token %}
						
					<div class="input-group mb-3 rounded-0 border-0">
						
  						<input name="ema" type="email" class="form-control" placeholder="Email Address" aria-describedby="button-addon2">
  						<div class="input-group-append">
    						<button class="btn rounded-0 hv"  type="submit" id="button-addon2">Get Subscribed</button>
						
						</div>
						
					</div>
					<div style="color: green;"><b>{{us}}</b></div>
					</form>
	 			</div>
	 		</div>
	 	</div>
	</div></div>

	{% endblock %}
