{% extends 'Base.html' %}
{% block content %}
{% load static %}
<div class="content-inner "style="height: 700px; overflow: auto;">
    <!-- Page Header-->
      <div class="container-fluid pt-5">
        <div class="row">
            <div class="col-md-2"></div>
                <div class="col-md-8  " >
            <h1 class="text-center" style="text-shadow: 10px 20px 5px #ccc; font-size: 50px;color:#1daccb;">
              Deaths from Natural Disasters</h1></div>
            <div class="col-md-2"></div>
          </div><br><br>
        <div class="row">
          <div class="col-md-2"></div>
          
            <div class="col-md-7 ">
              <h1 class="text-center" style=" font-size: 30px;">
                Deaths in Afganistan</h1></div>
              </div>
              <div class="row">
                <div class="col-md-2"></div>
            <div class="row"> <div class="col-md-4"></div>
              <div class="col-md-4">
                  <div >
                    <img  src="{%static 'Visualization graphs\DeathNaturalDisasters\Afganistan.png' %}" width="300" height="300" alt="Card image cap">
                </div>
            </div>
            </div></div>
            <div class="row p-2"><p align=justify>As we see, over the course of the 20th century there was a significant decline in global deaths from natural disasters. In the early 1900s, the annual average was often in the range of 400,000 to 500,000 deaths. In the second half of the century and into the early 2000s, we have seen a significant decline to less than 100,000 – at least five times lower than these peaks.</p>
              <p align=justify>In the visualization shown we see the deaths in Afganistan.This precipitation anomaly is measured relative to the century average from 1900 to 2017 based on all natural disasters worldwide. </p></div>
              <div class="row">
                <div class="col-md-2"></div>
                
                  <div class="col-md-7 ">
                    <h1 class="text-center" style=" font-size: 30px;">
                      Deaths in Albania</h1></div>
                    </div>
                    <div class="row">
                      <div class="col-md-2"></div>
                  <div class="row"> <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div >
                    <img  src="{%static 'Visualization graphs\DeathNaturalDisasters\Albania(Year).png' %}" width="300" height="300" alt="Card image cap">
                </div>
            </div>
          </div></div>
          <div class="row p-2"><p align=justify>As we see, over the course of the 20th century there was a significant decline in global deaths from natural disasters. In the early 1900s, the annual average was often in the range of 400,000 to 500,000 deaths. In the second half of the century and into the early 2000s, we have seen a significant decline to less than 100,000 – at least five times lower than these peaks.</p>
            <p align=justify>In the visualization shown we see the deaths in Albania.This precipitation anomaly is measured relative to the century average from 1900 to 2017 based on all natural disasters worldwide. </p></div>
            <div class="row">
              <div class="col-md-2"></div>
              
                <div class="col-md-7 ">
                  <h1 class="text-center" style=" font-size: 30px;">
                    Deaths in Algeria</h1></div>
                  </div>
                  <div class="row">
                    <div class="col-md-2"></div>
                <div class="row"> <div class="col-md-4"></div>
                  <div class="col-md-4">
                      <div >
                    <img src="{%static 'Visualization graphs\DeathNaturalDisasters\Algeria.png' %}" width="300" height="300" alt="Card image cap">
                </div>
            </div>
          </div></div>
          <div class="row p-2"><p align=justify>As we see, over the course of the 20th century there was a significant decline in global deaths from natural disasters. In the early 1900s, the annual average was often in the range of 400,000 to 500,000 deaths. In the second half of the century and into the early 2000s, we have seen a significant decline to less than 100,000 – at least five times lower than these peaks.</p>
            <p align=justify>In the visualization shown we see the deaths in Algeria.This precipitation anomaly is measured relative to the century average from 1900 to 2017 based on all natural disasters worldwide. </p></div>
          
            <div class="row">
              <div class="col-md-2"></div>
              
                <div class="col-md-7 ">
                  <h1 class="text-center" style=" font-size: 30px;">
                    Deaths in Bhutan</h1></div>
                  </div>
                  <div class="row">
                    <div class="col-md-2"></div>
                <div class="row"> <div class="col-md-4"></div>
                  <div class="col-md-4">
                      <div >
                        <img src="{%static 'Visualization graphs\DeathNaturalDisasters\Bhutan.png' %}" width="300" height="300" alt="Card image cap">
                        
                      </div>
                </div>
              </div></div>
              <div class="row p-2"><p align=justify>As we see, over the course of the 20th century there was a significant decline in global deaths from natural disasters. In the early 1900s, the annual average was often in the range of 400,000 to 500,000 deaths. In the second half of the century and into the early 2000s, we have seen a significant decline to less than 100,000 – at least five times lower than these peaks.</p>
                <p align=justify>In the visualization shown we see the deaths in Bhutan.This precipitation anomaly is measured relative to the century average from 1900 to 2017 based on all natural disasters worldwide. </p></div>
                <div class="row">
                  <div class="col-md-2"></div>
                  
                    <div class="col-md-7 ">
                      <h1 class="text-center" style=" font-size: 30px;">
                        Deaths in Canada</h1></div>
                      </div>
                      <div class="row">
                        <div class="col-md-2"></div>
                    <div class="row"> <div class="col-md-4"></div>
                      <div class="col-md-4">
                          <div >
                            <img src="{%static 'Visualization graphs\DeathNaturalDisasters\Canada.png' %}" width="300" height="300" alt="Card image cap">
                            
                          </div>
                    </div>
                  </div></div>
                  <div class="row p-2"><p align=justify>As we see, over the course of the 20th century there was a significant decline in global deaths from natural disasters. In the early 1900s, the annual average was often in the range of 400,000 to 500,000 deaths. In the second half of the century and into the early 2000s, we have seen a significant decline to less than 100,000 – at least five times lower than these peaks.</p>
                    <p align=justify>In the visualization shown we see the deaths in Canada.This precipitation anomaly is measured relative to the century average from 1900 to 2017 based on all natural disasters worldwide. </p></div>
                    <div class="row">
                      <div class="col-md-2"></div>
                      
                        <div class="col-md-7">
                          <h1 class="text-center" style=" font-size: 30px;">
                            Deaths in China</h1></div>
                          </div>
                          <div class="row">
                            <div class="col-md-2"></div>
                        <div class="row"> <div class="col-md-4"></div>
                          <div class="col-md-4">
                              <div >
                                <img src="{%static 'Visualization graphs\DeathNaturalDisasters\China.png' %}" width="300" height="300" alt="Card image cap">
                                
                              </div>
                        </div>
                      </div></div>
                      <div class="row p-2"><p align=justify>As we see, over the course of the 20th century there was a significant decline in global deaths from natural disasters. In the early 1900s, the annual average was often in the range of 400,000 to 500,000 deaths. In the second half of the century and into the early 2000s, we have seen a significant decline to less than 100,000 – at least five times lower than these peaks.</p>
                        <p align=justify>In the visualization shown we see the deaths in China.This precipitation anomaly is measured relative to the century average from 1900 to 2017 based on all natural disasters worldwide. </p></div>
                        <div class="row">
                          <div class="col-md-2"></div>
                          
                            <div class="col-md-7 ">
                              <h1 class="text-center" style=" font-size: 30px;">
                                Deaths in Djibouti</h1></div>
                              </div>
                              <div class="row">
                                <div class="col-md-2"></div>
                            <div class="row"> <div class="col-md-4"></div>
                              <div class="col-md-4">
                                  <div >
                                    <img src="{%static 'Visualization graphs\DeathNaturalDisasters\Djibouti.png' %}" width="300" height="300" alt="Card image cap">
                                    
                                  </div>
                            </div>
                          </div></div>
                          <div class="row p-2"><p align=justify>As we see, over the course of the 20th century there was a significant decline in global deaths from natural disasters. In the early 1900s, the annual average was often in the range of 400,000 to 500,000 deaths. In the second half of the century and into the early 2000s, we have seen a significant decline to less than 100,000 – at least five times lower than these peaks.</p>
                            <p align=justify>In the visualization shown we see the deaths in Djibouti.This precipitation anomaly is measured relative to the century average from 1900 to 2017 based on all natural disasters worldwide. </p></div>
                            <div class="row">
                              <div class="col-md-2"></div>
                              
                                <div class="col-md-7 ">
                                  <h1 class="text-center" style=" font-size: 30px;">
                                    Maximum deaths in 2014</h1></div>
                                  </div>
                                  <div class="row">
                                    <div class="col-md-2"></div>
                                <div class="row"> <div class="col-md-4"></div>
                                  <div class="col-md-4">
                                      <div >
                                    <img src="{%static 'Visualization graphs\DeathNaturalDisasters\max.png' %}" width="300" height="300" alt="Card image cap">
                                    
                                  </div>
                            </div>
                          </div></div>
                          <div class="row p-2"><p align=justify>As we see, over the course of the 20th century there was a significant decline in global deaths from natural disasters. In the early 1900s, the annual average was often in the range of 400,000 to 500,000 deaths. In the second half of the century and into the early 2000s, we have seen a significant decline to less than 100,000 – at least five times lower than these peaks.</p>
                            <p align=justify>In the visualization shown we see the maximum deaths in year 2014.This precipitation anomaly is measured relative to the century average from 1900 to 2017 based on all natural disasters worldwide.</p></div>
                            <div class="row">
                              <div class="col-md-2"></div>
                              
                                <div class="col-md-7">
                                  <h1 class="text-center" style=" font-size: 30px;">
                                    Minimum deaths in 2005</h1></div>
                                  </div>
                                  <div class="row">
                                    <div class="col-md-2"></div>
                                <div class="row"> <div class="col-md-4"></div>
                                  <div class="col-md-4">
                                      <div >
                                      <img src="{%static 'Visualization graphs\DeathNaturalDisasters\min.png' %}" width="300" height="300" alt="Card image cap">
                                      
                                    </div>
                              </div>
                            </div></div>
                            <div class="row p-2"><p align=justify>As we see, over the course of the 20th century there was a significant decline in global deaths from natural disasters. In the early 1900s, the annual average was often in the range of 400,000 to 500,000 deaths. In the second half of the century and into the early 2000s, we have seen a significant decline to less than 100,000 – at least five times lower than these peaks.</p>
                              <p align=justify>In the visualization shown we see the minimum deaths in year 2005.This precipitation anomaly is measured relative to the century average from 1900 to 2017 based on all natural disasters worldwide.</p></div>
                              <div class="row">
                                <div class="col-md-2"></div>
                                
                                  <div class="col-md-7 ">
                                    <h1 class="text-center" style=" font-size: 30px;">
                                      Top 5 deaths</h1></div>
                                    </div>
                                    <div class="row">
                                      <div class="col-md-2"></div>
                                  <div class="row"> <div class="col-md-4"></div>
                                    <div class="col-md-4">
                                        <div >
                                            <img src="{%static 'Visualization graphs\DeathNaturalDisasters\Top5.png' %}" width="300" height="300" alt="Card image cap">
                                            
                                          </div>
                                    </div>
                                  </div></div>
                                  <div class="row p-2"><p align=justify>As we see, over the course of the 20th century there was a significant decline in global deaths from natural disasters. In the early 1900s, the annual average was often in the range of 400,000 to 500,000 deaths. In the second half of the century and into the early 2000s, we have seen a significant decline to less than 100,000 – at least five times lower than these peaks.</p>
                                    <p align=justify> In the visualization shown we see the top 5 years of deaths.This precipitation anomaly is measured relative to the century average from 1900 to 2017 based on all natural disasters worldwide.</p></div>
         
          <div class="col-md-2"></div>
          
        </div>
      </div>

  </div>
</div>
</div>

    
<!-- JavaScript files-->
<script src="../js/jquery-3.4.1.min.js"></script>
<script src="../js/bootstrap.bundle.min.js"></script>
<script src="sidebar/front.js"></script>

{% endblock %}