{% extends 'Base.html' %}
{% block content %}
{% load static %}
<div class="content-inner"style="height: 700px; overflow: auto;">
    <!-- Page Header-->
      <div class="container-fluid pt-4">
        <div class="row">
            <div class="col-md-2"></div>
                <div class="col-md-8 " >
            <h1 class="text-center" style="text-shadow: 10px 20px 5px #ccc; font-size: 50px;color:#1daccb;">
              Direct Disaster Loss as a Share Of GDP </h1></div>
            <div class="col-md-2"></div>
          </div><br><br>
        <div class="row">
          <div class="col-md-2"></div>
          
            <div class="col-md-7">
              <h1 class="text-center" style=" font-size: 30px;">
                Loss of Gdp in Afganistan</h1></div>
              </div>
              <div class="row">
                <div class="col-md-2"></div>
            <div class="row"> <div class="col-md-4"></div>
              <div class="col-md-4">
                  <div >
                    <img  src="{%static 'Visualization graphs\DirectDisasterShareOfGdp\Afganisthan Loss in particular year.png' %}" width="300" height="300" alt="Card image cap">
                </div>
            </div>
            </div></div>
            <div class="row p-2"><p align=justify>As we see, over the course of the 20th century there was a significant decline in global deaths from natural disasters. In the early 1900s, the annual average was often in the range of 400,000 to 500,000 deaths. In the second half of the century and into the early 2000s, we have seen a significant decline to less than 100,000 – at least five times lower than these peaks.</p>
              <p align=justify>In the visualization shown we see the deaths in Afganistan.This precipitation anomaly is measured relative to the century average from 1900 to 2017 based on all natural disasters worldwide. </p></div>
              <div class="row">
                <div class="col-md-2"></div>
                
                  <div class="col-md-7 ">
                    <h1 class="text-center" style=" font-size: 30px;">
                      Loss of Gdp in Albania</h1></div>
                    </div>
                    <div class="row">
                      <div class="col-md-2"></div>
                  <div class="row"> <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div >
                    <img  src="{%static 'Visualization graphs\DirectDisasterShareOfGdp\Albania.png' %}" width="300" height="300" alt="Card image cap">
                </div>
            </div>
          </div></div>
          <div class="row p-2"><p align=justify>As we see, over the course of the 20th century there was a significant decline in global deaths from natural disasters. In the early 1900s, the annual average was often in the range of 400,000 to 500,000 deaths. In the second half of the century and into the early 2000s, we have seen a significant decline to less than 100,000 – at least five times lower than these peaks.</p>
            <p align=justify>In the visualization shown we see the deaths in Albania.This precipitation anomaly is measured relative to the century average from 1900 to 2017 based on all natural disasters worldwide. </p></div>
            <div class="row">
              <div class="col-md-2"></div>
              
                <div class="col-md-7 ">
                  <h1 class="text-center" style=" font-size: 30px;">
                    Loss of Gdp in Antigua and Barbuda</h1></div>
                  </div>
                  <div class="row">
                    <div class="col-md-2"></div>
                <div class="row"> <div class="col-md-4"></div>
                  <div class="col-md-4">
                      <div >
                    <img src="{%static 'Visualization graphs\DirectDisasterShareOfGdp\Antigua and Barbuda.png' %}" width="300" height="300" alt="Card image cap">
                </div>
            </div>
          </div></div>
          <div class="row p-2"><p align=justify>As we see, over the course of the 20th century there was a significant decline in global deaths from natural disasters. In the early 1900s, the annual average was often in the range of 400,000 to 500,000 deaths. In the second half of the century and into the early 2000s, we have seen a significant decline to less than 100,000 – at least five times lower than these peaks.</p>
            <p align=justify>In the visualization shown we see the deaths in Algeria.This precipitation anomaly is measured relative to the century average from 1900 to 2017 based on all natural disasters worldwide. </p></div>
          
            <div class="row">
              <div class="col-md-2"></div>
              
                <div class="col-md-7">
                  <h1 class="text-center" style=" font-size: 30px;">
                    Loss of Gdp in Ghana</h1></div>
                  </div>
                  <div class="row">
                    <div class="col-md-2"></div>
                <div class="row"> <div class="col-md-4"></div>
                  <div class="col-md-4">
                      <div >
                        <img src="{%static 'Visualization graphs\DirectDisasterShareOfGdp\Ghana.png' %}" width="300" height="300" alt="Card image cap">
                        
                      </div>
                </div>
              </div></div>
              <div class="row p-2"><p align=justify>As we see, over the course of the 20th century there was a significant decline in global deaths from natural disasters. In the early 1900s, the annual average was often in the range of 400,000 to 500,000 deaths. In the second half of the century and into the early 2000s, we have seen a significant decline to less than 100,000 – at least five times lower than these peaks.</p>
                <p align=justify>In the visualization shown we see the deaths in Bhutan.This precipitation anomaly is measured relative to the century average from 1900 to 2017 based on all natural disasters worldwide. </p></div>
                <div class="row">
                  <div class="col-md-2"></div>
                  
                    <div class="col-md-7">
                      <h1 class="text-center" style=" font-size: 30px;">
                        Loss of Gdp in Malayasia</h1></div>
                      </div>
                      <div class="row">
                        <div class="col-md-2"></div>
                    <div class="row"> <div class="col-md-4"></div>
                      <div class="col-md-4">
                          <div >
                            <img src="{%static 'Visualization graphs\DirectDisasterShareOfGdp\Malayasia gdp.png' %}" width="300" height="300" alt="Card image cap">
                            
                          </div>
                    </div>
                  </div></div>
                  <div class="row p-2"><p align=justify>As we see, over the course of the 20th century there was a significant decline in global deaths from natural disasters. In the early 1900s, the annual average was often in the range of 400,000 to 500,000 deaths. In the second half of the century and into the early 2000s, we have seen a significant decline to less than 100,000 – at least five times lower than these peaks.</p>
                    <p align=justify>In the visualization shown we see the deaths in Canada.This precipitation anomaly is measured relative to the century average from 1900 to 2017 based on all natural disasters worldwide. </p></div>
                    <div class="row">
                      <div class="col-md-2"></div>
                      
                        <div class="col-md-7 ">
                          <h1 class="text-center" style=" font-size: 30px;">
                            Loss of Gdp in Pakistan</h1></div>
                          </div>
                          <div class="row">
                            <div class="col-md-2"></div>
                        <div class="row"> <div class="col-md-4"></div>
                          <div class="col-md-4">
                              <div >
                                <img src="{%static 'Visualization graphs\DirectDisasterShareOfGdp\Pakistan gdp.png' %}" width="300" height="300" alt="Card image cap">
                                
                              </div>
                        </div>
                      </div></div>
                      <div class="row p-2"><p align=justify>As we see, over the course of the 20th century there was a significant decline in global deaths from natural disasters. In the early 1900s, the annual average was often in the range of 400,000 to 500,000 deaths. In the second half of the century and into the early 2000s, we have seen a significant decline to less than 100,000 – at least five times lower than these peaks.</p>
                        <p align=justify>In the visualization shown we see the deaths in China.This precipitation anomaly is measured relative to the century average from 1900 to 2017 based on all natural disasters worldwide. </p></div>
                        <div class="row">
                          <div class="col-md-2"></div>
                          
                            <div class="col-md-7 ">
                              <h1 class="text-center" style=" font-size: 30px;">
                                Loss of Gdp in SriLanka</h1></div>
                              </div>
                              <div class="row">
                                <div class="col-md-2"></div>
                            <div class="row"> <div class="col-md-4"></div>
                              <div class="col-md-4">
                                  <div >
                                    <img src="{%static 'Visualization graphs\DirectDisasterShareOfGdp\SriLanka.png' %}" width="300" height="300" alt="Card image cap">
                                    
                                  </div>
                            </div>
                          </div></div>
                          <div class="row p-2"><p align=justify>As we see, over the course of the 20th century there was a significant decline in global deaths from natural disasters. In the early 1900s, the annual average was often in the range of 400,000 to 500,000 deaths. In the second half of the century and into the early 2000s, we have seen a significant decline to less than 100,000 – at least five times lower than these peaks.</p>
                            <p align=justify>In the visualization shown we see the deaths in Djibouti.This precipitation anomaly is measured relative to the century average from 1900 to 2017 based on all natural disasters worldwide. </p></div>
                            <div class="row">
                              <div class="col-md-2"></div>
                              
                                <div class="col-md-7 ">
                                  <h1 class="text-center" style=" font-size: 30px;">
                                    Maximum Loss of Gdp in 2014</h1></div>
                                  </div>
                                  <div class="row">
                                    <div class="col-md-2"></div>
                                <div class="row"> <div class="col-md-4"></div>
                                  <div class="col-md-4">
                                      <div >
                                    <img src="{%static 'Visualization graphs\DirectDisasterShareOfGdp\Maximum loss in 2014.png' %}" width="300" height="300" alt="Card image cap">
                                    
                                  </div>
                            </div>
                          </div></div>
                          <div class="row p-2"><p align=justify>As we see, over the course of the 20th century there was a significant decline in global deaths from natural disasters. In the early 1900s, the annual average was often in the range of 400,000 to 500,000 deaths. In the second half of the century and into the early 2000s, we have seen a significant decline to less than 100,000 – at least five times lower than these peaks.</p>
                            <p align=justify>In the visualization shown we see the maximum deaths in year 2014.This precipitation anomaly is measured relative to the century average from 1900 to 2017 based on all natural disasters worldwide.</p></div>
                            <div class="row">
                              <div class="col-md-2"></div>
                              
                                <div class="col-md-7 ">
                                  <h1 class="text-center" style=" font-size: 30px;">
                                    Minimum Loss of Gdp in 2005</h1></div>
                                  </div>
                                  <div class="row">
                                    <div class="col-md-2"></div>
                                <div class="row"> <div class="col-md-4"></div>
                                  <div class="col-md-4">
                                      <div >
                                      <img src="{%static 'Visualization graphs\DirectDisasterShareOfGdp\min.png' %}" width="300" height="300" alt="Card image cap">
                                      
                                    </div>
                              </div>
                            </div></div>
                            <div class="row p-2"><p align=justify>As we see, over the course of the 20th century there was a significant decline in global deaths from natural disasters. In the early 1900s, the annual average was often in the range of 400,000 to 500,000 deaths. In the second half of the century and into the early 2000s, we have seen a significant decline to less than 100,000 – at least five times lower than these peaks.</p>
                              <p align=justify>In the visualization shown we see the minimum deaths in year 2005.This precipitation anomaly is measured relative to the century average from 1900 to 2017 based on all natural disasters worldwide.</p></div>
                              <div class="row">
                                <div class="col-md-2"></div>
                                
                                  <div class="col-md-7 ">
                                    <h1 class="text-center" style=" font-size: 30px;">
                                      Top 5 Loss</h1></div>
                                    </div>
                                    <div class="row">
                                      <div class="col-md-2"></div>
                                  <div class="row"> <div class="col-md-4"></div>
                                    <div class="col-md-4">
                                        <div >
                                            <img src="{%static 'Visualization graphs\DirectDisasterShareOfGdp\Top5.png' %}" width="300" height="300" alt="Card image cap">
                                            
                                          </div>
                                    </div>
                                  </div></div>
                                  <div class="row p-2"><p align=justify>As we see, over the course of the 20th century there was a significant decline in global deaths from natural disasters. In the early 1900s, the annual average was often in the range of 400,000 to 500,000 deaths. In the second half of the century and into the early 2000s, we have seen a significant decline to less than 100,000 – at least five times lower than these peaks.</p>
                                    <p align=justify> In the visualization shown we see the top 5 years of deaths.This precipitation anomaly is measured relative to the century average from 1900 to 2017 based on all natural disasters worldwide.</p></div>
         
          <div class="col-md-2"></div>
          
        </div>
      </div>

  </div>
</div>
</div>


{% endblock %}