{% extends 'Base.html' %}
{% block content %}
{% load static %}
<div class="content-inner "style="height: 300px; overflow: auto;">
    <!-- Page Header-->
    
      <div class="container">
            
            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-8  pt-3" >
          <h1 class="text-center" style="text-shadow: 10px 20px 5px #ccc; font-size: 50px;color:#1daccb;">
            All Natural Disasters</h1>
              <p class="text-center pt-3 description" style="font-size: 23px; font-family: 'inherit' ; font-style: italic;"> Make your own visualizations here. </p></div>
    
                </div>
                <div></div>
         </div>
         
          
              
                  
                  <div class="col-md-8 pt-4 ml-4">
                    <ul style=" font-size: 26px;color:black;">
                      <a  href="{% url 'NatDisVDynamic'%}" style="text-decoration: none; color: black;"><li class="homee"> Enter disaster to find percentage.</li></a>
                      <a  href="{% url 'YearCountNatDisV'%}" style="text-decoration: none; color: black;">  <li class="homee">Enter year and disaster to find percentage.</li></a>
                      <a  href="{% url 'TwoDisasYear'%}" style="text-decoration: none; color: black;"><li class="homee">Comparison of two disasters in particular year.</li>
                      <a  href="{% url 'MaxNatDis'%}" style="text-decoration: none; color: black;"><li class="homee">Maximum disasters in particular year.</li>
                      <a  href="{% url 'MinNatDis'%}" style="text-decoration: none; color: black;"><li class="homee">Minimum disasters in particular year.</li>
                      <a  href="{% url 'Top5NatDis'%}" style="text-decoration: none; color: black;"><li class="homee">Top5 disasters in particular year.</li>
                       
                    </ul></div>
                  </div>
                 
              
                

    
<!-- JavaScript files-->
<script src="../js/jquery-3.4.1.min.js"></script>
<script src="../js/bootstrap.bundle.min.js"></script>
<script src="sidebar/front.js"></script>

{% endblock %}