{% extends 'Base.html' %}
{% block content %}
{% load static %}
<div class="content-inner ">
    <!-- Page Header-->
   
        <div class="container-fluid pt-4">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 " >
                    <h1 class="text-center" style="text-shadow: 10px 20px 5px #ccc; font-size: 50px;color:#1daccb;">
                      Earthquake
                    </h1>
                </div>
                <div class="col-md-2"></div>
            </div><br>
            <div class="col-md-12">
                <form action="" method="POST">
                    {% csrf_token %}
               <div class="div-1 d-flex justify-content-center"> 
                   <label class="heading-text mr-4" style="font-family: Sofia; font-size: 40px;color:black;">Enter Magnitude:</label>

                   <input class="" type="number" placeholder="(6-8)" name="mag" max="8" min="6" style="height: 40px;
                   margin-top: 10px;border-style: solid; border-radius: 20px;border-color: #1daccb; font-size: 20px;"/> </div>
                    <div class="div-1 d-flex justify-content-center" >
                       <button type="submit" value="Post" name="btn" style="height: 45px;margin-top: 10px;border-style: solid; border-radius: 20px;background-color:#1daccb;color:#fff"class="btn rounded-pill" > &nbsp;&nbsp;&nbsp;Enter &nbsp;&nbsp;&nbsp;</button>
                       </div>
                           </form>
                       </div>
                       <div class=" col-md-12 heading-text mr-4" style="font-family: Sofia; font-size:40px;color:black;">
                           Description:      
                        </div>
                        <div class="col-md-12">
                            <p align=justify>
                                Earthquake prediction is a branch of the science of seismology concerned with the specification
                                 of the time, location, and magnitude of future earthquakes within stated limits, and 
                                 particularly "the determination of parameters for the next strong earthquake to occur in a region.
                              </p>
                              <p align=justify>
                                Earthquake prediction is sometimes distinguished from earthquake forecasting, which can be defined 
                                as the probabilistic assessment of general earthquake hazard, including the frequency and magnitude
                                 of damaging earthquakes in a given area over years or decades.
                                </p>
                                 <p align=justify>Prediction can be further distinguished from earthquake warning systems, which upon
                                      detection of an earthquake, provide a real-time warning of seconds to neighboring regions that 
                                      might be affected.</p>
                            </div>
                        <div class="col-md-12 mr-4" style="font-size:20px;">
                            You can download dataset from here: 
                            <a href="{%static 'database.csv'%}" class="homee" style="font-size:23px;"> Dataset <i class="icofont-download"></i></a>
                        </div>
                </div>
          
        </div>
        <!-- JavaScript files-->
        <script src="../js/jquery-3.4.1.min.js"></script>
        <script src="../js/bootstrap.bundle.min.js"></script>
        <script src="sidebar/front.js"></script>
        
        {% endblock %}          