{% extends 'Base.html' %}
{% block content %}
{% load static %}
<div class="content-inner ">
    <!-- Page Header-->
   
        <div class="container-fluid pt-4">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 " >
                    <h1 class="text-center" style="text-shadow: 10px 20px 5px #ccc; font-size: 50px;color:#1daccb;">
                        Maximum natural disaster
                    </h1>
                </div>
                <div class="col-md-2"></div>
            </div><br>
            <div class="col-md-12">
                <form action="" method="POST">
                    {% csrf_token %}
               <div class="div-1 d-flex justify-content-center"> 
                   <label class="heading-text mr-4" style="font-family: Sofia; font-size: 40px;color:black;">Enter year:</label>
                <input class="" type="number" placeholder="(1900-2019)" name="txt" max="2019" min="1900" style="height: 40px;width: 130px;
                margin-top: 10px;border-style: solid; border-radius: 20px;border-color: #1daccb; font-size: 20px;"/> </div>
                 <div class="div-1 d-flex justify-content-center" >
                    <button type="submit" value="Post" name="btn" style="height: 45px;margin-top: 10px;border-style: solid; border-radius: 20px;background-color:#1daccb;color:#fff"class="btn rounded-pill" > &nbsp;&nbsp;&nbsp;Enter &nbsp;&nbsp;&nbsp;</button>
                    </div>
                        </form>
                    </div>
                    <div class=" col-md-12 heading-text mr-4" style="font-family: Sofia; font-size:40px;color:black;">
                        Description:
                        
                        </div>
                        <div class="col-md-12">
                          <p align=justify>
                            A natural disaster is a major adverse event resulting from natural processes of the Earth; examples are floods,
                            hurricanes, tornadoes, volcanic eruptions, earthquakes, tsunamis, storms, and other geologic processes. A natural disaster can cause
                            loss of life or damage property, and typically leaves some economic damage in its wake, the severity of which depends on the affected
                            population's resilience (ability to recover) and also on the infrastructure available.
                          </p>
                          <p align=justify>
                              In this visualization you can see the maximum percentage of disaster that happens of year 1900 to 2019 dynamically.</p>
                        </div>
                    <div class="col-md-12 mr-4" style="font-size:20px;">
                        You can download dataset from here: 
                        <a href="{%static 'natural-disasters-by-type.csv'%}" class="homee" style="font-size:23px;"> Dataset <i class="icofont-download"></i></a>
                    </div>
                </div>
          
        </div>
        <!-- JavaScript files-->
        <script src="../js/jquery-3.4.1.min.js"></script>
        <script src="../js/bootstrap.bundle.min.js"></script>
        <script src="sidebar/front.js"></script>
        
        {% endblock %}