{% extends 'Base.html' %}
{% block content %}
{% load static %}
<div class="content-inner" style="height: 700px; overflow: auto;">
    <!-- Page Header-->
      <div class="container-fluid pt-5">
        <div class="row">
            <div class="col-md-2"></div>
                <div class="col-md-8  " >
            <h1 class="text-center" style="text-shadow: 10px 20px 5px #ccc; font-size: 50px;color:#1daccb;">
            All Natural Disasters</h1></div>
            <div class="col-md-2"></div>
          </div><br><br>
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-7  " >
              <h1 class="text-center" style=" font-size: 30px;">
                All disasters </h1></div>
              </div>
              <div class="row">
                <div class="col-md-2"></div>
            <div class="row"> <div class="col-md-4"></div>
              <div class="col-md-4">
                  <div  >
                      <img  src="{%static 'Visualization graphs\All natural disasters\All natural disasters reported.png' %}" width="300" height="300" alt="Card image cap">
                  </div>
                </div>
              </div> 
            </div>
            <div class="row p-2"><p align=justify>The number of natural disasters can be highly variable from year-to-year; some years pass with very few deaths before a large disaster event claims many lives.In the visualization shown we see all the disasters of year 2000 to 2019.This precipitation anomaly is measured relative to the century average from 1900 to 2019 based on all types of natural disasters 
              worldwide. </p></div>
              <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-7 " >
                  <h1 class="text-center" style=" font-size: 30px;">
                  Drought</h1></div>
                  </div>
                  <div class="row">
                    <div class="col-md-2"></div>
                <div class="row"> <div class="col-md-4"></div>
                  <div class="col-md-4">
                      <div  >
                          <img  src="{%static 'Visualization graphs\All natural disasters\Drought.png' %}" width="300" height="300" alt="Card image cap">
                      </div>
                    </div>
                  </div> 
                </div>
                <div class="row p-2"><p align=justify>The number of natural disasters can be highly variable from year-to-year; some years pass with very few deaths before a large disaster event claims many lives.In the visualization shown we see the droughts that comes of year 1977 to 2019.This precipitation anomaly is measured relative to the century average from 1900 to 2019 based on all Droughts 
                  worldwide. </p></div>
                  <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-7  " >
                      <h1 class="text-center" style=" font-size: 30px;">
                        Earthquake</h1></div>
                      </div>
                      <div class="row">
                        <div class="col-md-2"></div>
                    <div class="row"> <div class="col-md-4"></div>
                      <div class="col-md-4">
                          <div  >
                              <img  src="{%static 'Visualization graphs\All natural disasters\Earthquake.png' %}" width="300" height="300" alt="Card image cap">
                          </div>
                        </div>
                      </div> 
                    </div>
                    <div class="row p-2"><p align=justify>The number of natural disasters can be highly variable from year-to-year; some years pass with very few deaths before a large disaster event claims many lives.In the visualization shown we see the Earthquakes that comes of year 1979 to 2019.This precipitation anomaly is measured relative to the century average from 1900 to 2019 based on all Earthquakes 
                      worldwide. </p></div>
                      <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-7  " >
                          <h1 class="text-center" style=" font-size: 30px;">
                            Extreme Weather</h1></div>
                          </div>
                          <div class="row">
                            <div class="col-md-2"></div>
                        <div class="row"> <div class="col-md-4"></div>
                          <div class="col-md-4">
                              <div  >
                                  <img  src="{%static '\Visualization graphs\All natural disasters\Extreme weather.png' %}" width="300" height="300" alt="Card image cap">
                              </div>
                            </div>
                          </div> 
                        </div>
                        <div class="row p-2"><p align=justify>The number of natural disasters can be highly variable from year-to-year; some years pass with very few deaths before a large disaster event claims many lives.In the visualization shown we see the Extreme Weather that happens of year 1989 to 2018.This precipitation anomaly is measured relative to the century average from 1900 to 2019 based on the Extreme Weather 
                          worldwide. </p></div>
                          <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-7  " >
                              <h1 class="text-center" style=" font-size: 30px;">
                                Extreme Temperature</h1></div>
                              </div>
                              <div class="row">
                                <div class="col-md-2"></div>
                            <div class="row"> <div class="col-md-4"></div>
                              <div class="col-md-4">
                                  <div  >
                                      <img  src="{%static 'Visualization graphs\All natural disasters\ExtremeTemperature.png' %}" width="300" height="300" alt="Card image cap">
                                  </div>
                                </div>
                              </div> 
                            </div>
                            <div class="row p-2"><p align=justify>The number of natural disasters can be highly variable from year-to-year; some years pass with very few deaths before a large disaster event claims many lives.In the visualization shown we see the Extreme Temperature that happens of year 1988 to 2019.This precipitation anomaly is measured relative to the century average from 1900 to 2019 based on the Extreme Temperature 
                              worldwide. </p></div>
                              <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-7  " >
                                  <h1 class="text-center" style=" font-size: 30px;">
                                    Flood</h1></div>
                                  </div>
                                  <div class="row">
                                    <div class="col-md-2"></div>
                                <div class="row"> <div class="col-md-4"></div>
                                  <div class="col-md-4">
                                      <div  >
                                          <img  src="{%static 'Visualization graphs\All natural disasters\Flood.png' %}" width="300" height="300" alt="Card image cap">
                                      </div>
                                    </div>
                                  </div> 
                                </div>
                                <div class="row p-2"><p align=justify>The number of natural disasters can be highly variable from year-to-year; some years pass with very few deaths before a large disaster event claims many lives.In the visualization shown we see the Floods that comes of year 1987 to 2019.This precipitation anomaly is measured relative to the century average from 1900 to 2019 based on all the Floods 
                                  worldwide. </p></div>
                                  <div class="row">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-7  " >
                                      <h1 class="text-center" style=" font-size: 30px;">
                                        Wildfire</h1></div>
                                      </div>
                                      <div class="row">
                                        <div class="col-md-2"></div>
                                    <div class="row"> <div class="col-md-4"></div>
                                      <div class="col-md-4">
                                          <div  >
                                              <img  src="{%static 'Visualization graphs\All natural disasters\Wildfire.png' %}" width="300" height="300" alt="Card image cap">
                                          </div>
                                        </div>
                                      </div> 
                                    </div>
                                    <div class="row p-2"><p align=justify>The number of natural disasters can be highly variable from year-to-year; some years pass with very few deaths before a large disaster event claims many lives.In the visualization shown we see all the Wildfires that happens of year 1983 to 2019.This precipitation anomaly is measured relative to the century average from 1900 to 2019 based on all the Wildfires 
                                      worldwide.</p></div>
                                      <div class="row">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-7  " >
                                          <h1 class="text-center" style=" font-size: 30px;">
                                            Maximum Disaster in year 2014</h1></div>
                                          </div>
                                          <div class="row">
                                            <div class="col-md-2"></div>
                                        <div class="row"> <div class="col-md-4"></div>
                                          <div class="col-md-4">
                                              <div  >
                                                  <img  src="{%static 'Visualization graphs\All natural disasters\Max.png' %}" width="300" height="300" alt="Card image cap">
                                              </div>
                                            </div>
                                          </div> 
                                        </div>
                                        <div class="row p-2"><p align=justify>The number of natural disasters can be highly variable from year-to-year; some years pass with very few deaths before a large disaster event claims many lives.In the visualization shown we see the Maximum disaster that happens in year 2014.This precipitation anomaly is measured relative to the century average from 1900 to 2019 based on the Maximum disaster 
                                          worldwide. </p></div>
                                          <div class="row">
                                            <div class="col-md-2"></div>
                                            <div class="col-md-7  " >
                                              <h1 class="text-center" style=" font-size: 30px;">
                                                Minimum Disaster in year 2010</h1></div>
                                              </div>
                                              <div class="row">
                                                <div class="col-md-2"></div>
                                            <div class="row"> <div class="col-md-4"></div>
                                              <div class="col-md-4">
                                                  <div  >
                                                      <img  src="{%static 'Visualization graphs\All natural disasters\Min.png' %}" width="300" height="300" alt="Card image cap">
                                                  </div>
                                                </div>
                                              </div> 
                                            </div>
                                            <div class="row p-2"><p align=justify>The number of natural disasters can be highly variable from year-to-year; some years pass with very few deaths before a large disaster event claims many lives.In the visualization shown we see the Minimum disaster in year 2010.This precipitation anomaly is measured relative to the century average from 1900 to 2019 based on the Minimum disaster 
                                              worldwide. </p></div>
                                              <div class="row">
                                                <div class="col-md-2"></div>
                                                <div class="col-md-7  " >
                                                  <h1 class="text-center" style=" font-size: 30px;">
                                                    Top 5 Disasters</h1></div>
                                                  </div>
                                                  <div class="row">
                                                    <div class="col-md-2"></div>
                                                <div class="row"> <div class="col-md-4"></div>
                                                  <div class="col-md-4">
                                                      <div  >
                                                          <img  src="{%static 'Visualization graphs\All natural disasters\Top5.png' %}" width="300" height="300" alt="Card image cap">
                                                      </div>
                                                    </div>
                                                  </div> 
                                                </div>
                                                <div class="row p-2"><p align=justify>The number of natural disasters can be highly variable from year-to-year; some years pass with very few deaths before a large disaster event claims many lives.In the visualization shown we see the years in which top 5 disasters happens. This precipitation anomaly is measured relative to the century average from 1900 to 2019 based on the Top5 disasters 
                                                  worldwide. </p></div>
      
          <div class="col-md-2"></div>
          
        </div>
      </div>

  </div>
</div>
</div>

    
<!-- JavaScript files-->
<script src="../js/jquery-3.4.1.min.js"></script>
<script src="../js/bootstrap.bundle.min.js"></script>
<script src="sidebar/front.js"></script>

{% endblock %}