{% extends 'Base.html' %}
{% block content %}
{% load static %}
<div class="content-inner "style="height: 700px; overflow: auto;">
    <!-- Page Header-->
      <div class="container-fluid pt-5">
        <div class="row">
            <div class="col-md-2"></div>
                <div class="col-md-8 " >
            <h1 class="text-center" style="text-shadow: 10px 20px 5px #ccc; font-size: 50px;color:#1daccb;">
              Internally displaced persons from disasters</h1></div>
            <div class="col-md-2"></div>
          </div><br><br>
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-7 " >
              <h1 class="text-center" style=" font-size: 30px;">
                Internally displaced persons in Albania </h1></div>
              </div>
              <div class="row">
                <div class="col-md-2"></div>
            <div class="row"> <div class="col-md-4"></div>
              <div class="col-md-4">
                  <div  >
                      <img  src="{%static 'Visualization graphs\Internally displaced persons\Albania.png' %}" width="300" height="300" alt="Card image cap">
                  </div>
                </div>
              </div> 
            </div>
            <div class="row p-2"><p align=justify>Human impacts from natural disasters are not fully captured in mortality rates. Injury, homelessness,
               and displacement can all have a significant impact on populations. </p>
              <p align=justify>The visualisation shows the number of people displaced internally (i.e. within a given country) from natural disasters
                from 2008 to.
                 Note that these figures report on the basis of new cases of displaced persons: if someone is forced to flee their home from natural disasters
                  more than once in any given year, they will be recorded only once within these statistics.</p></div>
              <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-7  " >
                  <h1 class="text-center" style=" font-size: 30px;">
                    Internally displaced persons in Antigua and Barbuda</h1></div>
                  </div>
                  <div class="row">
                    <div class="col-md-2"></div>
                <div class="row"> <div class="col-md-4"></div>
                  <div class="col-md-4">
                      <div  >
                          <img  src="{%static 'Visualization graphs\Internally displaced persons\Antigua and Barbuda.png' %}" width="300" height="300" alt="Card image cap">
                      </div>
                    </div>
                  </div> 
                </div>
                <div class="row p-2"><p align=justify>Human impacts from natural disasters are not fully captured in mortality rates. Injury, homelessness,
                  and displacement can all have a significant impact on populations. </p>
                 <p align=justify>The visualisation shows the number of people displaced internally (i.e. within a given country) from natural disasters
                   from 2008 to.
                    Note that these figures report on the basis of new cases of displaced persons: if someone is forced to flee their home from natural disasters
                     more than once in any given year, they will be recorded only once within these statistics.</p></div>
                  <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-7 " >
                      <h1 class="text-center" style=" font-size: 30px;">
                        Internally displaced persons in Ghana</h1></div>
                      </div>
                      <div class="row">
                        <div class="col-md-2"></div>
                    <div class="row"> <div class="col-md-4"></div>
                      <div class="col-md-4">
                          <div  >
                              <img  src="{%static 'Visualization graphs\Internally displaced persons\Ghana.png' %}" width="300" height="300" alt="Card image cap">
                          </div>
                        </div>
                      </div> 
                    </div>
                    <div class="row p-2"><p align=justify>Human impacts from natural disasters are not fully captured in mortality rates. Injury, homelessness,
                      and displacement can all have a significant impact on populations. </p>
                     <p align=justify>The visualisation shows the number of people displaced internally (i.e. within a given country) from natural disasters
                       from 2008 to.
                        Note that these figures report on the basis of new cases of displaced persons: if someone is forced to flee their home from natural disasters
                         more than once in any given year, they will be recorded only once within these statistics.</p></div>
                      <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-7 " >
                          <h1 class="text-center" style=" font-size: 30px;">
                            Internally displaced persons in India</h1></div>
                          </div>
                          <div class="row">
                            <div class="col-md-2"></div>
                        <div class="row"> <div class="col-md-4"></div>
                          <div class="col-md-4">
                              <div  >
                                  <img  src="{%static '\Visualization graphs\Internally displaced persons\India.png' %}" width="300" height="300" alt="Card image cap">
                              </div>
                            </div>
                          </div> 
                        </div>
                        <div class="row p-2"><p align=justify>Human impacts from natural disasters are not fully captured in mortality rates. Injury, homelessness,
                          and displacement can all have a significant impact on populations. </p>
                         <p align=justify>The visualisation shows the number of people displaced internally (i.e. within a given country) from natural disasters
                           from 2008 to.
                            Note that these figures report on the basis of new cases of displaced persons: if someone is forced to flee their home from natural disasters
                             more than once in any given year, they will be recorded only once within these statistics.</p></div>
                          <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-7 " >
                              <h1 class="text-center" style=" font-size: 30px;">
                                Internally displaced persons in Malaysia</h1></div>
                              </div>
                              <div class="row">
                                <div class="col-md-2"></div>
                            <div class="row"> <div class="col-md-4"></div>
                              <div class="col-md-4">
                                  <div  >
                                      <img  src="{%static 'Visualization graphs\Internally displaced persons\Malaysia.png' %}" width="300" height="300" alt="Card image cap">
                                  </div>
                                </div>
                              </div> 
                            </div>
                            <div class="row p-2"><p align=justify>Human impacts from natural disasters are not fully captured in mortality rates. Injury, homelessness,
                              and displacement can all have a significant impact on populations. </p>
                             <p align=justify>The visualisation shows the number of people displaced internally (i.e. within a given country) from natural disasters
                               from 2008 to.
                                Note that these figures report on the basis of new cases of displaced persons: if someone is forced to flee their home from natural disasters
                                 more than once in any given year, they will be recorded only once within these statistics.</p></div>
                              <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-7 " >
                                  <h1 class="text-center" style=" font-size: 30px;">
                                    Internally displaced persons in Pakistan</h1></div>
                                  </div>
                                  <div class="row">
                                    <div class="col-md-2"></div>
                                <div class="row"> <div class="col-md-4"></div>
                                  <div class="col-md-4">
                                      <div  >
                                          <img  src="{%static 'Visualization graphs\Internally displaced persons\Pakistan.png' %}" width="300" height="300" alt="Card image cap">
                                      </div>
                                    </div>
                                  </div> 
                                </div>
                                <div class="row p-2"><p align=justify>Human impacts from natural disasters are not fully captured in mortality rates. Injury, homelessness,
                                  and displacement can all have a significant impact on populations. </p>
                                 <p align=justify>The visualisation shows the number of people displaced internally (i.e. within a given country) from natural disasters
                                   from 2008 to.
                                    Note that these figures report on the basis of new cases of displaced persons: if someone is forced to flee their home from natural disasters
                                     more than once in any given year, they will be recorded only once within these statistics.</p></div>
                                  <div class="row">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-7 " >
                                      <h1 class="text-center" style=" font-size: 30px;">
                                        Internally displaced persons in SriLanka</h1></div>
                                      </div>
                                      <div class="row">
                                        <div class="col-md-2"></div>
                                    <div class="row"> <div class="col-md-4"></div>
                                      <div class="col-md-4">
                                          <div  >
                                              <img  src="{%static 'Visualization graphs\Internally displaced persons\SriLanka.png' %}" width="300" height="300" alt="Card image cap">
                                          </div>
                                        </div>
                                      </div> 
                                    </div>
                                    <div class="row p-2"><p align=justify>Human impacts from natural disasters are not fully captured in mortality rates. Injury, homelessness,
                                      and displacement can all have a significant impact on populations. </p>
                                     <p align=justify>The visualisation shows the number of people displaced internally (i.e. within a given country) from natural disasters
                                       from 2008 to.
                                        Note that these figures report on the basis of new cases of displaced persons: if someone is forced to flee their home from natural disasters
                                         more than once in any given year, they will be recorded only once within these statistics.</p></div>
                                      <div class="row">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-7 " >
                                          <h1 class="text-center" style=" font-size: 30px;">
                                            Maximum displaced persons in year 2014</h1></div>
                                          </div>
                                          <div class="row">
                                            <div class="col-md-2"></div>
                                        <div class="row"> <div class="col-md-4"></div>
                                          <div class="col-md-4">
                                              <div  >
                                                  <img  src="{%static 'Visualization graphs\Internally displaced persons\Maximum.png' %}" width="300" height="300" alt="Card image cap">
                                              </div>
                                            </div>
                                          </div> 
                                        </div>
                                        <div class="row p-2"><p align=justify>Human impacts from natural disasters are not fully captured in mortality rates. Injury, homelessness,
                                          and displacement can all have a significant impact on populations. </p>
                                         <p align=justify>The visualisation shows the number of people displaced internally (i.e. within a given country) from natural disasters
                                           from 2008 to.
                                            Note that these figures report on the basis of new cases of displaced persons: if someone is forced to flee their home from natural disasters
                                             more than once in any given year, they will be recorded only once within these statistics.</p></div>
                                          <div class="row">
                                            <div class="col-md-2"></div>
                                            <div class="col-md-7 " >
                                              <h1 class="text-center" style=" font-size: 30px;">
                                                Minimum displaced persons in year 2010</h1></div>
                                              </div>
                                              <div class="row">
                                                <div class="col-md-2"></div>
                                            <div class="row"> <div class="col-md-4"></div>
                                              <div class="col-md-4">
                                                  <div  >
                                                      <img  src="{%static 'Visualization graphs\Internally displaced persons\Min.png' %}" width="300" height="300" alt="Card image cap">
                                                  </div>
                                                </div>
                                              </div> 
                                            </div>
                                            <div class="row p-2"><p align=justify>Human impacts from natural disasters are not fully captured in mortality rates. Injury, homelessness,
                                              and displacement can all have a significant impact on populations. </p>
                                             <p align=justify>The visualisation shows the number of people displaced internally (i.e. within a given country) from natural disasters
                                               from 2008 to.
                                                Note that these figures report on the basis of new cases of displaced persons: if someone is forced to flee their home from natural disasters
                                                 more than once in any given year, they will be recorded only once within these statistics.</p></div>
                                              <div class="row">
                                                <div class="col-md-2"></div>
                                                <div class="col-md-7  " >
                                                  <h1 class="text-center" style=" font-size: 30px;">
                                                    Top 5 years of displaced persons</h1></div>
                                                  </div>
                                                  <div class="row">
                                                    <div class="col-md-2"></div>
                                                <div class="row"> <div class="col-md-4"></div>
                                                  <div class="col-md-4">
                                                      <div  >
                                                          <img  src="{%static 'Visualization graphs\Internally displaced persons\Top5.png' %}" width="300" height="300" alt="Card image cap">
                                                      </div>
                                                    </div>
                                                  </div> 
                                                </div>
                                                <div class="row p-2"><p align=justify>Human impacts from natural disasters are not fully captured in mortality rates. Injury, homelessness,
                                                  and displacement can all have a significant impact on populations. </p>
                                                 <p align=justify>The visualisation shows the number of people displaced internally (i.e. within a given country) from natural disasters
                                                   from 2008 to.
                                                    Note that these figures report on the basis of new cases of displaced persons: if someone is forced to flee their home from natural disasters
                                                     more than once in any given year, they will be recorded only once within these statistics.</p></div>
      
          <div class="col-md-2"></div>
          
        </div>
      </div>

  </div>
</div>
</div>



{% endblock %}